.container {
  text-align: center;
}
.form {
  padding: 28px 40px;
  & button {
    background-color: #585353;
    color: white;
    padding: 10px;
  }
}

.input {
  border: 2px solid black;
  background-color: #585353;
  outline: none;
  margin-right: 20px;
  padding: 10px;
  border-radius: 15px;
  color: aqua;
}

.button {
  border: 2px solid black;
  border-radius: 10px;
}
